<span class="dialogueButtonLine">
	<a href= "/customer/startOrder"><button class="loginButton" type="button">Back</button></a>
	<button class="loginButton" type="button" onclick="return LoginVal('idForm')">Login</button>
</span>