<span class="dialogueButtonLine">
	<a href= "/customer/startOrder/{{van}}"><button class="loginButton coButton" type="button">Cancel</button></a>
	<a href= "register"><button type="button" class="loginButton coButton">Register</button></a>
	<button class="loginButton coButton" type="button" onclick="return login('idForm')">Login</button>
</span>