<h1 class="formHeading">
            Sign In
        </h1>
		<form id="idForm" method="POST">
			<div id="error">{{#if error}}Incorrect email or password{{/if}}</div>
			
			<div class="formLine">
				Email <input class="formField" type="text" name="email">
			</div>
			<div class="formLine">
				Password <input class="formField" type="password" name="password">
			</div>
			