<div class="loginContainer">
	<div id="login_spacer"></div>
    <h1>Order Collected!</h1>
    <h1>Enjoy your snacks from</h1>
    <h1 style="color: aliceblue;">{{van}}</h1>
	<span><img id="loginLogo" src="/img/form-logo.png" /></span>
	<div class="loginFormContainer">