
{{> formOpen }}
	<h1 class="formHeading">
		Register
	</h1>
    <form method="POST" action="/customer/checkOut/register">
        <div class="formLine">
			First Name <input class="formField" type="text" name="name"> 
        </div>
        <div class="formLine">
            Last Name <input class="formField" type="text" name="lastName">
        </div>
        <div class="formLine">
            Email <input class="formField" type="text" name="email">
        </div>
        <div class="formLine">
            Password <input class="formField" type="password" name="password">
        </div>
			<span class="dialogueButtonLine">
				<a href="javascript:history.back()"><button class="loginButton" type="button">Back</button></a>
				<button class="loginButton" type="submit">Submit</button>
			</span>
		</form>
	</div>

</div>